*{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 115,"YTLC" 500;
}

.products-section{
    height: 62vh;
    border: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.submit-btn{
    width: 100%;
}

///////////////////**** UTILITY CLASSES ****/////////////////

.spacer{
    height: 45px;
}
.custom-font-8{
    font-size: 14px;
}

.custom-btn{
    cursor: pointer;
}