*{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 115,"YTLC" 500;
}

.products-section{
    height: 65vh;
    overflow-x: scroll;
}
.submit-btn{
    width: 100%;
}